<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
    <p style=" font-size: 3rem; text-align: center;">{{ message }}</p>
    <br>
    <div style="text-align: center; ">
        <button type="button" style="padding: 0.1rem;
            align-content: center"
            @click="fetchLogs">Show latest logs
        </button>
        &nbsp;

        <input type="date" v-model="start_date" name="Start date">
        &nbsp;
        <input type="date" v-model="end_date"  name="End date">
        &nbsp;
        <input type="submit" @click="fetchLogs">

        &nbsp;
        <button type="button" style="padding: 0.1rem;
            align-content: center"
            @click="resetFilters">Reset
        </button>


    </div>

    <div v-if="logs.length>0">

        <p>Logs for -
            <u><b>{{new Date(start_date).toDateString()}} - {{new Date(end_date).toDateString()}}</b></u>
            (Latest first)
        </p>

        <div  v-for="(log,idx) in logs">
            {{log}}
        </div>
    </div>


    <div v-if="logs.length>0" style="text-align: center; padding-bottom: 2rem; padding-top: 2rem ">

        <button v-if="page_number>1" type="button" style="padding: 0.4rem; margin-right: 1rem;
            align-content: center"
            @click="loadMore(prev=true)">Previous
        </button>

        <button  type="button" style="padding: 0.4rem; margin-right: 1rem;
            align-content: center"
            @click="loadMore(prev=false)">Next page
        </button>

        {{page_number}}

    </div>

    <div v-else style="text-align: center; padding-bottom: 2rem; padding-top: 2rem ">
        No records found for <b>{{new Date(start_date).toDateString()}} - {{new Date(end_date).toDateString()}}</b>
    </div>


</div>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        message: 'Hello light logger!',
        connection: null,
        page_number:1,
        per_page:50,
        logs:[],
        start_date:new Date(),
        end_date:new Date()
      }
    },

    created: function() {
        console.log("Starting connection to WebSocket Server")
        this.connection = new WebSocket("ws://127.0.0.1:8001/ws")

        let self = this
        self.connection.onmessage = function(event) {
            const resp = JSON.parse(event.data)
            self.logs = resp.logs
            self.page_number = resp.page_no
            self.per_page = resp.per_page
        }

        this.connection.onopen = function(event) {
          console.log(event)
          console.log("Successfully connected to the echo websocket server...")
        }
    },

    methods:{

        formattedDate:function(d){
            let date = new Date(d)
            let year = date.toLocaleDateString("default", { year: "numeric" });
            let month = date.toLocaleDateString("default", { month: "2-digit" });
            let day = date.toLocaleDateString("default", { day: "2-digit" });
            return year + "-" + month + "-" + day
        },

        fetchLogs: function (){
            let data = {
                start_date: this.formattedDate(this.start_date),
                end_date: this.formattedDate(this.end_date),
                per_page:50,
                page_no:this.page_number
            }
            this.connection.send(JSON.stringify(data))
        },

        loadMore: function (prev){
            let page
            if (prev===true){
                page = this.page_number-1
            }else{
                page = this.page_number+1
            }
            let data = {
                start_date: this.formattedDate(this.start_date),
                end_date: this.formattedDate(this.end_date),
                per_page:50,
                page_no:page
            }
            this.connection.send(JSON.stringify(data))
        },

        resetFilters: function (){
            this.start_date=new Date()
            this.end_date = new Date()
            this.page_number= 1
            let data = {
                start_date: this.formattedDate(this.start_date),
                end_date: this.formattedDate(this.end_date),
                per_page:50,
                page_no:this.page_number
            }
            this.connection.send(JSON.stringify(data))
        },

    }


  }).mount('#app')
</script>

<style>
    body{
        background-color: rgb(236, 236, 236);
        width: 100%;
        height: 100%;
    }
</style>
